In [1]:
import zipfile as zp
import pandas as pd

In [2]:
# Unzip and extract the csv file from the folder
zipfile_name = 'London_bike_sharing_dataset.zip'
with zp.ZipFile(zipfile_name, 'r') as file:
    file.extractall()

In [3]:
# Read in the csv file as pandas dataframe
bike_rides = pd.read_csv('london_merged.csv')
bike_rides

,timestamp,cnt,t1,t2,hum,wind_speed,weather_code,is_holiday,is_weekend,season
0,2015-01-04 00:00:00,182,3.0,2.0,93.0,6.0,3.0,0.0,1.0,3.0
1,2015-01-04 01:00:00,138,3.0,2.5,93.0,5.0,1.0,0.0,1.0,3.0
2,2015-01-04 02:00:00,134,2.5,2.5,96.5,0.0,1.0,0.0,1.0,3.0
3,2015-01-04 03:00:00,72,2.0,2.0,100.0,0.0,1.0,0.0,1.0,3.0
4,2015-01-04 04:00:00,47,2.0,0.0,93.0,6.5,1.0,0.0,1.0,3.0
...,...,...,...,...,...,...,...,...,...,...
17409,2017-01-03 19:00:00,1042,5.0,1.0,81.0,19.0,3.0,0.0,0.0,3.0
17410,2017-01-03 20:00:00,541,5.0,1.0,81.0,21.0,4.0,0.0,0.0,3.0
17411,2017-01-03 21:00:00,337,5.5,1.5,78.5,24.0,4.0,0.0,0.0,3.0
17412,2017-01-03 22:00:00,224,5.5,1.5,76.0,23.0,4.0,0.0,0.0,3.0
17413,2017-01-03 23:00:00,139,5.0,1.0,76.0,22.0,2.0,0.0,0.0,3.0

In [4]:
# explore the data
bike_rides.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 17414 entries, 0 to 17413
Data columns (total 10 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   timestamp     17414 non-null  object
 1   cnt           17414 non-null  int64
 2   t1            17414 non-null  float64
 3   t2            17414 non-null  float64
 4   hum           17414 non-null  float64
 5   wind_speed    17414 non-null  float64
 6   weather_code  17414 non-null  float64
 7   is_holiday    17414 non-null  float64
 8   is_weekend    17414 non-null  float64
 9   season        17414 non-null  float64
dtypes: float64(8), int64(1), object(1)
memory usage: 1.3+ MB

In [5]:
# data types of all the columns in the dataframe
bike_rides.dtypes

timestamp        object
cnt               int64
t1              float64
t2              float64
hum             float64
wind_speed      float64
weather_code    float64
is_holiday      float64
is_weekend      float64
season          float64
dtype: object

In [6]:
bike_rides.shape

(17414, 10)

In [7]:
# count the unique values in the weather_code column
bike_rides.weather_code.value_counts()

weather_code
1.0     6150
2.0     4034
3.0     3551
7.0     2141
4.0     1464
26.0      60
10.0      14
Name: count, dtype: int64

In [8]:
# Count the unique values in the season column
bike_rides.season.value_counts()

season
0.0    4394
1.0    4387
3.0    4330
2.0    4303
Name: count, dtype: int64

In [9]:
# Renaming the column name
new_cols_dict = {
    'timestamp': 'time',
    'cnt': 'count',
    't1' : 'temp_real_C',
    't2' : 'temp_feels_like_C',
    'hum' : 'humidity_percentage',
    'wind_speed' : 'wind_speed_kph',
    'weather_code' : 'weather',
    'is_holiday' : 'is_holiday',
    'is_weekend' : 'is_weekend',
    'season' : 'season'
}

bike_rides.rename(new_cols_dict, axis=1, inplace=True)

In [10]:
# changing the humidity values to percentage (i.e. a value between 0 and 1)
bike_rides.humidity_percentage = bike_rides.humidity_percentage/100

In [11]:
# creating the season dictionary so that we can map the integer 0-3 to actual written values
season_dict = {
            '0.0' : 'Spring',
            '1.0' : 'Summer',
            '3.0' : 'Winter',
            '2.0' : 'Autumn'
}

# Creating the waether code values so that we can map the integers to the actual written values
weather_dict = {
                '1.0': 'Clear',
                '2.0': 'Scattered clouds',
                '3.0': 'Broken clouds',
                '4.0': 'Cloudy',
                '7.0': 'Rain',
                '10.0': 'Rain with thunderstom',
                '26.0': 'Snowfall'
}

# change the data tye of season and weather from float to string
bike_rides.season = bike_rides.season.astype('str')
# map the new dict values to season and weather column
bike_rides.season = bike_rides.season.map(season_dict)

# change the data tye of season and weather from float to string
bike_rides.weather = bike_rides.weather.astype('str')
# map the new dict values to season and weather column
bike_rides.weather = bike_rides.weather.map(weather_dict)

In [12]:
# check the dataframe to see if the mappings have worked

bike_rides.head(20)

,time,count,temp_real_C,temp_feels_like_C,humidity_percentage,wind_speed_kph,weather,is_holiday,is_weekend,season
0,2015-01-04 00:00:00,182,3.0,2.0,0.930,6.0,Broken clouds,0.0,1.0,Winter
1,2015-01-04 01:00:00,138,3.0,2.5,0.930,5.0,Clear,0.0,1.0,Winter
2,2015-01-04 02:00:00,134,2.5,2.5,0.965,0.0,Clear,0.0,1.0,Winter
3,2015-01-04 03:00:00,72,2.0,2.0,1.000,0.0,Clear,0.0,1.0,Winter
4,2015-01-04 04:00:00,47,2.0,0.0,0.930,6.5,Clear,0.0,1.0,Winter
5,2015-01-04 05:00:00,46,2.0,2.0,0.930,4.0,Clear,0.0,1.0,Winter
6,2015-01-04 06:00:00,51,1.0,-1.0,1.000,7.0,Cloudy,0.0,1.0,Winter
7,2015-01-04 07:00:00,75,1.0,-1.0,1.000,7.0,Cloudy,0.0,1.0,Winter
8,2015-01-04 08:00:00,131,1.5,-1.0,0.965,8.0,Cloudy,0.0,1.0,Winter
9,2015-01-04 09:00:00,301,2.0,-0.5,1.000,9.0,Broken clouds,0.0,1.0,Winter
10,2015-01-04 10:00:00,528,3.0,-0.5,0.930,12.0,Broken clouds,0.0,1.0,Winter
11,2015-01-04 11:00:00,727,2.0,-1.5,1.000,12.0,Broken clouds,0.0,1.0,Winter
12,2015-01-04 12:00:00,862,2.0,-1.5,0.965,13.0,Cloudy,0.0,1.0,Winter
13,2015-01-04 13:00:00,916,3.0,-0.5,0.870,15.0,Broken clouds,0.0,1.0,Winter
14,2015-01-04 14:00:00,1039,2.5,0.0,0.900,8.0,Broken clouds,0.0,1.0,Winter
15,2015-01-04 15:00:00,869,2.0,-1.5,0.930,11.0,Broken clouds,0.0,1.0,Winter
16,2015-01-04 16:00:00,737,3.0,0.0,0.930,12.0,Broken clouds,0.0,1.0,Winter
17,2015-01-04 17:00:00,594,3.0,0.0,0.930,11.0,Broken clouds,0.0,1.0,Winter
18,2015-01-04 18:00:00,522,3.0,1.5,0.930,6.5,Broken clouds,0.0,1.0,Winter
19,2015-01-04 19:00:00,379,3.0,1.0,0.930,7.0,Broken clouds,0.0,1.0,Winter

In [13]:
bike_rides.to_excel('london_rides.xlsx', sheet_name = 'data')

In [14]:
bike_rides.shape

(17414, 10)